<a href="https://colab.research.google.com/github/Orlondo/AzureMapsCodeSamples/blob/master/QxQ_PythonIntensive_HW1_StudentCopy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Intensive: Homework 1**

You will submit answers to these questions on Canvas. This file is to practice.

## Intro to Computer Science, How Programs Flow, and How Programmers Think
---

### **Concepts**

1. Why Computer Science?
2. IDEs/Workspace
3. Program Flow
4. Computational Thinking


### **Some Keywords before we move on**
**Computer Science**: the study of computers and how we can use them to solve human problems

**Algorithm**: a list of steps to solve a problem

**Computer Program**: a list of instructions that is written in code

**Pseudocode**: normal writing used to represent what a program should look like

### Exercise #1
---
**Problem**: Write a short algorithm for how you brush your teeth. (We're not writing code, just list at least 3 steps that you would follow.)

In [ ]:
Type answer here:

# 1. Put toothpaste on toothbrush.
# 2. Insert toothbrush in mouth.
# 3. Brush teeth

### Exercise #2
---
**Problem**: Write a pseudocode for the solution to the problem: How many odd numbers exist between 1 to any number: x.

In [ ]:
Type answer here: 
# odd_numbers = 0
# numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Iterate through "numbers" list Incrementing "odd_numbers" by 1 everytime there is an odd number.

## Deep Dive into Computational Thinking
---

### **Concepts**

The four problem-solving methods of computational thinking:
1. Decomposition
2. Pattern Matching
3. Abstraction
4. Algorithm

### Exercise #1
---
**Problem**: Write a "complete" an algorithm with at least 7 steps, in pseudocode, describing painting a picture using at least 2 paint colors. (Hint: Make sure you open and close the paint cans!)

##### **My Answer (type in cell below)**

1. Open red paint can
2. Apply red paint to wall
3. Close red can
4. Open blue paint can
5. Apply blue paint to wall
6. Close blue can
7. Check that both colors have been applied to wall

### Exercise #2
---
**Problem**: Write the same algorithm from Exercise 1 the "Programmer's Way."

##### **My Answer (type in cell below)**

In [55]:
isBluePaintCanOpen: False
bluePaintColor = "blue"

isRedPaintCanOpen: False
redPaintColor = "red"

wall = {
    "color": []
}

# 1. Open blue paint can
isBluePaintCanOpen = True

# 2. Apply blue paint to wall
wall["color"].append(bluePaintColor)

# 3. Close blue paint can
isBluePaintCanOpen = False

# 4. Open red paint can
isRedPaintCanOpen = True

# 5. Apply red paint to wall
wall["color"].append(redPaintColor)

# 6. Close red paint can
isRedPaintCanOpen = False

# 7. Check that wall is paint with both colors
if "blue" and "red" in wall["color"]:
  print("Wall is painted properly")
else:
  print("Wall is not painted properly")

Wall is painted properly

## Print Statements
---

### **Concepts**

1. print() Function
2. Printing Numbers and Strings Together

**print()**
*   Strings = print("WORDS")
*   Numbers = print(NUM)

### Exercise #1
---
**Problem**: Print 3 sentences about your favorite foods.

##### **My Answer**

In [57]:
print("I like pizza, a lot!")
print("I like sushi.")
print("I REALLY like steak!!!")

I like pizza, a lot!
I like sushi.
I REALLY like steak!!!

### Exercise #2
---
**Problem**: Print a sentence that states how many siblings you have.

##### **My Answer**

In [59]:
siblings = "3"

print("I have " + siblings + " siblings.")

I have 3 siblings.

### Exercise #3
---
**Problem**: Debug the following line(s) of code:

In [ ]:
print("I was about " + 7 + " years old when I learned to ride a bike.")

##### **My Answer**

In [61]:
print("I was about " + "7" + " years old when I learned to ride a bike.")

I was about 7 years old when I learned to ride a bike.

## Variables
---

### **Concepts**
*This lesson introduces students to variables and data types. Building off of their last lesson, students will learn how to print variables.*

1. Variables
2. Data Types
3. Printing Variables

**variable**: containers for storing data values

**Variable**
*   Python Immutability
*   Value/none

**Number**
* Int
* Float

**Python String**
* String
* Char

**Boolean**
* True/False

**Lists**

### Exercise #1
---
**Problem**: Name a variable `lucky` and assign it to your lucky number.

##### **My Answer**

In [63]:
lucky = 7

### Exercise #2
---
**Problem**: Convert the float, 89.668 to an integer.

##### **My Answer**

In [64]:
int(89.668)

89

### Exercise #3
---
**Problem**: Create a variable `height` and assign it to value 5.3. Create a variable `days` and assign it to value 10. Print a sentence that states that your plant has grown 5.3 inches in 10 days.

##### **My Answer**

In [66]:
height = 5.3
days = 10

print("My plant has grown " + str(height) + " in " + str(days) + " days.")

My plant has grown 5.3 in 10 days.

### Exercise #4
---
**Problem**: Create a variable `cities` and assign it your list of favorite cities

**My Answer**

In [67]:
cities = ["Detroit", "Southfield", "Chicago"]

## Arithmetic Operators
---

### **Concepts**

1. Basic operations
    - Addtion
    - Subtraction
    - Multiplication
2. Division
3. Modulo
4. Different syntax examples

### Exercise #1
---
**Problem**: Jake has 5 bags of coins. Each bag has 18 coins in it. How many coin total does Jake have? Create variables `bags` and `coins` and print their product: `total`.

##### **My Answer**

### Exercise #2
---
**Problem**: Divide 13 by 7. Make sure the answer has decimals.

##### **My Answer**

### Exercise #3
---
**Problem**: Pierce has 11 cookies and 4 friends. If Pierce wants to give each of his friends 2 cookies, and have 2 himself, how many cookies would he have left over? Use the multiplication and modelo functions to solve this problem.

##### **My Answer**

## Boolean Logic
---

### **Concepts**

1. Boolean Expression
  - True/False
2. Logical Operators
  - and
  - or
  - not
3. Comparison Operators
  - equal ==
  - not equal !=
  - less than (or equal to) < and <=
  - greater than (or equal to) > and >=

### Exercise #1
---
**Problem**: Are the following problems True or False?

In [68]:
A = True
B = False
C = False

A or B
not C
A and C
(not B and not C) or (A and B)

True

##### **My Answer**

True
True
False
True

### Exercise #2
---
**Problem**: What is the following code output?

In [ ]:
pickles = 7
oranges = 15
strawberries = 2

print(pickles > oranges)
print((pickles * strawberries) > oranges)
print(oranges != strawberries)

##### **My Answer**

In [ ]:
False
False 
True

### Exercise #3
---
Using the variables below and comparison operators, write a program that will produce a `False` output. 

```
a = 10
b = 12
c = 2 
```

##### **My Answer**

In [73]:
a = 10
b = 12
c = 2 

a + c != b

False

# **ADDITIONAL PRACTICE**
---
**Note:** If you understand the above material, you do not need to complete this.

## Print Statements
---

1. Print your name.

2. Print the number: 6. 

3. Print the year you were born. 

4. Print the name of your favorite city. 

5. Print the statement: 'The year is 2020'

6. Print a sentence that states your age.

7. Debug the following line of code:

```
print(My favorite number is + 6.)
```

8. Debug the following line of code:

```
print("I got a " + 98 + " on my Physics test.") 
```

9. Print the statement: I was born on January 18, 2003.

#### **My Answers**

1.

In [ ]:
print("Orlondo")

2.

In [ ]:
print(6)

3.

In [ ]:
print(1972)

4.

In [ ]:
print("Detroit")

5.

In [ ]:
print("The year is 2020")

6.

In [77]:
print("I am 48 year old")

I am 48 year old

7.

In [76]:
print("My favorite number is " + str(6) + ".")

My favorite number is 6.

8.

In [ ]:
print("I got a " + 98 + " on my Physics test.")

9.

In [78]:
print("I got a " + str(98) + " on my Physics test.")

I got a 98 on my Physics test.

## Variables
---

1. Create a variable called `siblings` and assign it the number of siblings you have.

2. Create a variable named `subject` and assign your favorite class subject to it. 

3. Reassign your newly created variable, `subject`, with another class subject. Print to make sure the new value is assigned.

4. Using the code below, what will print when you print(bananas)? Why?

```
bananas = 4
apples = 3
oranges = banana
bananas = 8
print(bananas)
```

5. Determine whether each of the following numbers is an int or float.

```
3
-2.1
80.22123
54444
30
```

6. Convert 100 to a float.

7. Convert -4.8 to an int.

8. What's wrong with the following declaration? 
```
1var = 323.0
```

9. What's wrong with the following declaration? 
```
month@month = "July" 
```

10. What's wrong with the following declaration? 
```
month year = "july2020"
```

11. Assign the value "Apple" to variables `x`, `y`, and `z`. 

12. Starting with the code below, assign a variable, `z`, to equal `x`.
```
x = 4
y = 5
```

13. Starting with the code below, reassign the variable, `candybar`, to "Milkyway." Check to make sure it worked.
```
candybar = "Snickers" 
```

14. Create a variable called `name` and assign it your name. Then print the statement "My name is [YOUR NAME]"

15. Create two variables: one for your favorite subject and another for your favorite season. Then print a statement that states: "My favorite subject is [] and my favorite season is []."

16. Using only variable(s), print the statement "I love coding."

##### **My Answers**

1. siblings = 4

2. subject = "Math"

3. subject = "Trigonomtry"

4. 8

5. Int, Float, Float, Int, Int

6. float(100)

7. int(-4.8)

8. Varables can't begin with numbes

In [ ]:
9.  # Variables can't have special characters

10. Variables can't have spaces

11. x = y = z = "Apple"

12. z = x

13. candybar = "Milkyway"

In [79]:
name = "Orlondo"

print("My name is " + name)

My name is Orlondo

In [81]:
subject = "math"
season = "spring"

print("My favorite subject is " + subject + " and my favorite season is " + season + ".")

My favorite subject is math and my favorite season is spring.

In [82]:
codingStatment = "I love coding."

print(codingStatment)

I love coding.

## Arithmetic Operators
---


For questions 1-4, use the following set of variables:

````
broccoli = 5
tomatoes = 11
lettuce = 13
green_beans = 2
````

1. Add all of the vegetables together. What is the total count? 

2. Multiply the ``broccoli`` and the ``lettuce``. 

3. Subtract the ``green_beans`` from ``tomatoes``. 

4. Add 5 to broccoli. 

5. Matt has 12 cookies. Maxime has 15. How many cookies do they have together? Use variables ``matt``, ``maxime``, and ``total``. 

6. You got a 86 on your English test. You forgot to put your name though and lost 5 points. What is your final grade? Use variables ``initial_grade``, ``forgot_name``, and ``final_grade``. 

7. You have three piles of clothes - dirty, clean, and outgrown. Each pile has 10 pieces. How many pieces of clothing do you have in total? Use multiplication with variables ``piles``, ``pieces``, and ``total``. 

8. Without creating a new variable, add 10 to ``apples``.

````
apples = 5
````

9. Now using the new sum of ``apples``, multiply ``apples`` by 15. Do not create a new variable. 

10. Divide ``number1`` by 10 without creating a new variable.

````
number1 = 3000
````

##### **Solution:**

1.

2.

3.

4.

5.

6.

7.

8.

9.

10.

## Boolean Logic
---

Evaluate the following statements as True or False.

1. `not (True)`
2. `True or True`
3. `True and False`
4. `not (True and False)`
5. `True and True`
6. `(True and True) or False`
7. `(not (True and False) or (True or False)`
8. `((False and False) or (False or not (True)))`
9. `not ((False or False) and True)`
10. `((False and False) or (True and True)) and ((True and False) or not (False))`
11. `(not (False) or not (True)) and (False or True)`

12.

```
a = 10
b = 20

a > b
```

13. 


```
c = 12
d = 20

d > c
```

14.

```
q = 15
x = 20
y = 14
z = 1

(q + x) >= (y - z)
```

#### **My Answers**

1. 
2. 
3. 
4. 
5. 
6. 
7. 
8. 
9. 
10. 
11. 
12. 
13. 
14.

---
Â© 2020 The Coding School, All rights reserved
This curriculum is the intellectual property of The Coding School (TCS), and it is only to be used with TCS students.